<h1>Éditer l'article</h1>

<%= form_for @post do |f| %>

  <div class="mb-3">
    <label class="form-label">Titre de l'article</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label">Contenu de l'article</label>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-success">Mettre à jour l'article</button>

<% end %>
